.navbar-fixed-top {
  overflow: hidden
}
.navbar-brand {
  background: url(../images/logo1-600x300.png) no-repeat;
  transition: all 0.4s ease-in-out;
  text-indent: -9999px;
  background-size: auto 250px;
  width: 500px;
  height: 250px;
}
html:not(.scroll-top) .navbar-brand {
  background-size: auto 75px;
  transform: scale(200%) translateY(7px);
  width: 150px;
  height: 75px;
}

body {
  transition: all 0.4s ease-in-out;
  padding-top: 150px
}

html.scroll-top body {
  padding-top: 250px
}

footer {
  clear: both;
}

.intro-message > h1,
h1, h2, h3, h4, h5,
ul.navbar-nav, footer ul.list-inline {
  font-family: "Trajan";
}

@font-face {
  font-family: "Trajan";
  font-weight: normal;
  src: url(/fonts/TrajanPro-Regular.ttf);
}

@font-face {
  font-family: "Trajan";
  font-weight: bold;
  src: url(/fonts/TrajanPro-Bold.ttf);
}
