.c-navbar {
  overflow: hidden
}
.c-navbar__brand {
  background: url(../img/logo1-600x300.png) no-repeat;
  transition: all 0.4s ease-in-out;
  text-indent: -9999px;
  background-size: auto 250px;
  width: 500px;
  height: 250px;
}

/* long page */
@media (min-height: 500px) {
  html:not(.scroll-top) .c-navbar__header {
    min-width: 350px;
  }
  html:not(.scroll-top) .c-navbar__brand {
    background-size: auto 75px;
    transform: scale(200%) translateY(7px) translateX(35px);
    width: 150px;
    height: 75px;
  }
  html.scroll-top .navbar .logotext {
    display: none;
  }
  body {
    transition: all 0.4s ease-in-out;
    padding-top: 150px
  }
  html.scroll-top body {
    padding-top: 250px
  }
  ul.c-navbar__right {
    flex-wrap: nowrap;
  }
}

/* short page */
@media not (min-height: 500px) {
  .c-navbar {
    position: unset;
    transform: unset;
    -webkit-transform: unset;
    -o-transform: unset;
  }
  .c-navbar .logotext {
    display: none;
  }
  ul.c-navbar__right {
    flex-wrap: wrap;
  }
}

/* short and narrow page */
@media (not (min-height: 500px)) and (not (min-width:1000px)) {
  .c-navbar__toggle {
    isolation: isolate;
    z-index: 2;
  }
  .c-navbar__collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    isolation: isolate;
    z-index: 1;
  }
  .c-navbar__right {
    background-color: #f8f8f8;
  }
}

.c-navbar .logotext {
  font-family: "Trajan";
  text-align: right;
  clear: right;
  padding: 0 15px;
  color: #777;
}
.c-navbar .logotext .subtext {
  color: #bbb;
}

.c-navbar__container::before, .c-navbar__container::after, .c-navbar__header::before, .c-navbar__header::after {
  content: unset;
}

/* wide page */
@media (min-width:1000px) {
  .c-navbar__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .c-navbar__toggle {
    display: none;
  }
  ul.c-navbar__right {
    display: flex;
    flex-direction: row;
  }
  .c-navbar__collapse.collapse {
    display: unset;
  }
}

/* narrow page */
@media not (min-width:1000px) {
  .c-navbar__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .c-navbar__brand {
    clip-path: inset(0px 0px 10px 0px);
  }
  .c-navbar__toggle {
    display: unset;
    position: fixed;
    top: 1em;
    left: calc(100% - 5em);
  }
  .c-navbar__collapse {
    display: none;
  }
  .c-navbar__container {
    display: flex;
    flex-flow: column nowrap;
  }
}

/* very narrow page, reduce logo */
@media (min-width: 400px) and (not (min-width:600px)) {
  .c-navbar__brand {
    background-size: 400px auto;
    width: 400px;
    height: 200px;
  }
}
@media (min-width: 300px) and (not (min-width:400px)) {
  .c-navbar__brand {
    background-size: 300px auto;
    width: 300px;
    height: 150px;
  }
}
@media (min-width: 200px) and (not (min-width:300px)) {
  .c-navbar__brand {
    background-size: 200px auto;
    width: 200px;
    height: 100px;
  }
}

footer {
  clear: both;
}

.intro-message > h1,
h1, h2, h3, h4, h5,
ul.nav, footer ul.list-inline {
  font-family: "Trajan";
}

@font-face {
  font-family: "Trajan";
  font-weight: normal;
  src: url(/fonts/TrajanPro-Regular.ttf);
}

@font-face {
  font-family: "Trajan";
  font-weight: bold;
  src: url(/fonts/TrajanPro-Bold.ttf);
}
