<!-- Page Content - Gallerie -->
{{ range $index, $element := .Data.Pages.ByWeight }}{{ if or (eq .Section "gallerie") }}

    <div>
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">{{ .Title }}</h2>
        {{ .Content }}
    </div>
    {{ range $i, $image_path := .Params.images }}
        {{ $full_image := resources.Get $image_path }}
        {{ $thumbnail := $full_image.Resize "x400" }}
        {{ if eq 0 $i }}
            <a rel="gallery-{{ $index }}" href="{{ $full_image.RelPermalink }}" class="swipebox">
                <img class="img-responsive" src="{{ $thumbnail.RelPermalink }}" alt="" />
            </a>
        {{end}}
    {{ end }}
    <div class="gallery-small">
    {{ range $i, $image_path := .Params.images }}
        {{ if gt $i 0 }}
            {{ $full_image := resources.Get $image_path }}
            {{ $thumbnail := $full_image.Resize "x75" }}
            <a rel="gallery-{{ $index }}" href="{{ $full_image.RelPermalink }}" class="swipebox">
                <img class="img-responsive" src="{{ $thumbnail.RelPermalink }}" alt="" />
            </a>
        {{ end }}
    {{ end }}
    </div>

    <!-- /.container -->
{{ end }} {{ end }}

<script type="text/javascript">
;( function( $ ) {

    $( '.swipebox' ).swipebox({
        hideBarsDelay: 0,
        loopAtEnd: true,
    });

    $(".gallery-small").justifiedGallery({
        rowHeight: 75,
    });

} )( jQuery );
</script>

</section>

