<!-- Navigation -->
<nav class="c-navbar navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="c-navbar__container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll c-navbar__header">
            <a class="page-scroll navbar-brand c-navbar__brand" href="/#intro">{{ .Site.Title }}</a>
            <button type="button" class="navbar-toggle c-navbar__toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="c-navbar__collapse" id="main-navbar-collapse">
            <ul class="nav c-navbar__right">
                <li>
                    <a class="page-scroll" href="/#intro">Accueil</a>
                </li>
                <li>
                    <a class="page-scroll" href="/entreprise/">Entreprise</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#services">Philosophie</a>
                </li>
                <li>
                    <a class="page-scroll" href="/categories/">Réalisations</a>
                </li>
                {{ if isset .Site.Params "social" }}
                <li>
                    <a class="page-scroll" href="/#contact">Contact</a>
                </li>
                {{ end }}
            </ul>
            <div class="logotext">
                <p><span>Mobilier authentique </span><span class="subtext">fabriqué en Chartreuse</span></p>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
