<section id="services" class="container">

<!-- Page Content -->
{{ range $index, $element := (.GetPage "presentation").Pages }}
<article class="article-photo">
    <div>
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">{{ .Title }}</h2>
        <div class="summary">{{ .Summary }}</div>
        <div class="content" style="display: none">{{ .Content }}</div>
        {{ if .Truncated }}
            <a href="{{.RelPermalink}}">Lire plus</a>
        {{ end }}
    </div>
    <div class="article-photo__image">
        <img class="img-responsive" src="{{ (resources.Get (.Params.img)).RelPermalink }}" alt="">
    </div>
</article>
{{ end }}

</section>
