{{ $galleryprefix := .Page.Params.galleryprefix }}
{{ $galleryfolder := .Page.Params.galleryfolder }}
{{ $gallerythumbnail := .Page.Params.gallerythumbnail }}
<figure itemscope itemtype="http://schema.org/ImageObject">
  <a href="{{ .Get "file" }}" itemprop="contentUrl" data-size="{{ .Get "size" }}">
      <img src="{{ .Get "thumbnail" }}" itemprop="thumbnail" alt="{{ .Get "caption" }}" />
  </a>


  <figcaption itemprop="caption description">
    {{ .Get "caption" }}
    <span itemprop="copyrightHolder">{{ .Get "copyrightHolder" }}</span>
  </figcaption>
</figure>
